<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

        <link rel="stylesheet" href="/css/register-login.css">
        <script src="https://kit.fontawesome.com/92e82ded12.js" crossorigin="anonymous"></script>
        <!--FONT-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <main class="main-registro">
        <div class="main-registro-form">
            <form action="/register" method="POST">
                <input type="text" name="usuario" placeholder="Nombre de usuario">
                <input type="password" name="password" placeholder="Contraseña">
                <br>
                <button class="main-login-form-buttons" type="submit"><a href="/">Enviar</a></button>
            </form>
        </div>
</body>
</html>
